body {
    position: absolute;
    left: 40em;
    top: 15em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#forma {
    /* background-color: red; */
    width: 35em;
    height: 25em;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */

    gap: 2em;
    border: none;
    border-radius: 10px;
    background-color: rgb(195, 236, 255);

}

/* box-shadow: 5px 10px 20px 5px rgb(190, 196, 202), inset 7px 14px 30px 20px rgb(225, 228, 231)} */
input {
    width: 25em;
    height: 3em;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(140, 141, 160);
    padding-left: 10px;
    position: absolute;
    left: 6em;
    top: 14em;
    font-size: 15px;
}

#paragf {
    position: absolute;
    top: 9em;
    left: 14em;
}

.l {
    font-size: 35px;
    position: absolute;
    top: 2em;
    left: 3.5em;
}

button {
    width: 10em;
    height: 3em;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    top: 23em;
    left: 29em;
    background-color: rgb(116, 223, 255);
    border: 1px solid rgb(122, 136, 160);
    position: absolute;
    /* box-shadow: 5px 10px 20px 5px rgb(190, 196, 202); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {

    background-color: rgb(155, 252, 255);
}